<app-base-task-container-component
  header="Notification permit peer review"
  [daysRemaining]="daysRemaining$ | async"
  [customContentTemplate]="customContentTemplate"
  expectedTaskType="PERMIT_NOTIFICATION_APPLICATION_PEER_REVIEW"
>
</app-base-task-container-component>

<ng-template #customContentTemplate>
  <ng-container>
    <div class="govuk-button-group">
      <button
        *ngIf="allowPeerReviewDecision$ | async"
        (click)="peerReviewDecision()"
        govukButton
        title="Notify Operator for decision"
        type="button"
      >
        Peer review decision
      </button>
    </div>
  </ng-container>

  <ul app-task-item-list>
    <li
      app-task-item
      link="../review/decision"
      linkText="Details of the Change"
      [status]="'DETAILS_CHANGE' | reviewNotificationStatus | async"
    ></li>
  </ul>
</ng-template>
