<app-permit-task>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    submitText="Confirm and complete"
    caption="Nitrous oxide"
    [heading]="taskKey$ | async | i18nSelect: heading"
    [hideSubmit]="(store.isEditable$ | async) === false"
  >
    <app-procedure-form>
      <app-template [taskKey]="taskKey$ | async"></app-template>
    </app-procedure-form>
  </app-wizard-step>

  <app-approach-return-link parentTitle="Nitrous oxide" reviewGroupUrl="nitrous-oxide"></app-approach-return-link>
</app-permit-task>
