<div *ngIf="(isTemplateGenerationErrorDisplayed$ | async) === true; else answers" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Sorry, there was a problem when evaluating the document template: {{ templateFailed }}
    </h2>
  </div>
</div>

<ng-template #answers>
  <app-page-heading>Confirm your answers</app-page-heading>

  <app-answers-template></app-answers-template>

  <div *ngIf="(store.isEditable$ | async) === true" class="govuk-button-group">
    <button appPendingButton govukButton type="button" (click)="confirm()">Confirm and complete</button>
  </div>
</ng-template>
