<app-permit-task [notification]="notification" [breadcrumb]="[{ text: 'Nitrous oxide', link: ['nitrous-oxide'] }]">
  <app-page-heading caption="Nitrous oxide">Approach description</app-page-heading>

  <p class="govuk-body">Include:</p>
  <ul class="govuk-body">
    <li>the types of instruments used</li>
    <li>if measurements are taken during wet or dry conditions</li>
    <li>the formulae used for applying correction factors (PtO2 and H2O)</li>
    <li>calibration factors required for QAL2 procedures if EN 14181 is applied</li>
    <li>the method used to determine the stoichiometric flue gas volume if flue gas volume is calculated</li>
    <li>
      how annual emissions are determined based on concentration and flue gas flow data, taking time units into account
    </li>
  </ul>
  <p class="govuk-body">Get help with <a [routerLink]="" govukLink>nitrous oxide</a>.</p>

  <h2
    app-summary-header
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Approach description</span>
  </h2>

  <app-n2o-approach-description-summary-template></app-n2o-approach-description-summary-template>
  <app-approach-return-link parentTitle="Nitrous oxide" reviewGroupUrl="nitrous-oxide"></app-approach-return-link>
</app-permit-task>
