<ng-container *ngIf="(confirmedAddedVerifier$ | async) === null; else verifierAdded">
  <govuk-error-summary *ngIf="isSummaryDisplayed$ | async" [form]="form"></govuk-error-summary>
  <app-page-heading size="xl">{{ (userLoaded$ | async) ? 'User details' : 'Add a new user' }}</app-page-heading>
  <form (ngSubmit)="addNewUser()" [formGroup]="form" id="add-verifier">
    <app-user-input phoneType="national"></app-user-input>
    <app-two-fa-link *ngIf="isLoggedUser$ | async"></app-two-fa-link>
    <button appPendingButton govukButton type="submit">
      {{ userLoaded$ | async | submitIfEmpty }}
    </button>
  </form>
</ng-container>

<ng-template #verifierAdded>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel>An account confirmation email has been sent to {{ confirmedAddedVerifier$ | async }}</govuk-panel>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">The new user will be able to log in once they confirm their account</p>
    </div>
  </div>
</ng-template>
