<ng-container *ngIf="grantDetermination$ | async as grantDetermination">
  <govuk-error-summary *ngIf="invalidNoticeDate$ | async" [form]="form"></govuk-error-summary>
  <h2
    app-summary-header
    (changeClick)="changeClick('')"
    [changeRoute]="(isEditable$ | async) ? '.' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Decision</span>
  </h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Decision</dt>
      <dd govukSummaryListRowValue>
        {{ grantDetermination.type | determinationType }}
      </dd>
    </div>
  </dl>

  <h2
    app-summary-header
    (changeClick)="changeClick('reason')"
    [changeRoute]="(isEditable$ | async) ? '.' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Supporting note</span>
  </h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Supporting note</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ grantDetermination.reason }}
      </dd>
    </div>
  </dl>

  <h2
    app-summary-header
    (changeClick)="changeClick('stop-date')"
    [changeRoute]="(isEditable$ | async) ? '.' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Date regulated activities ended</span>
  </h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Date regulated activities ended</dt>
      <dd govukSummaryListRowValue>
        {{ grantDetermination.stopDate | govukDate }}
      </dd>
    </div>
  </dl>

  <h2
    app-summary-header
    (changeClick)="changeClick('notice-date')"
    [changeRoute]="(isEditable$ | async) ? '.' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Effective date of notice</span>
  </h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Effective date of notice</dt>
      <dd govukSummaryListRowValue [ngClass]="{ error: (invalidNoticeDate$ | async) }">
        <span> {{ grantDetermination.noticeDate | govukDate }}</span>
      </dd>
    </div>
  </dl>

  <h2
    app-summary-header
    (changeClick)="changeClick('report')"
    [changeRoute]="(isEditable$ | async) ? '.' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Surrender report</span>
  </h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Surrender report</dt>
      <dd govukSummaryListRowValue>
        {{ grantDetermination.reportRequired ? (grantDetermination.reportDate | govukDate) : 'No' }}
      </dd>
    </div>
  </dl>

  <h2
    app-summary-header
    (changeClick)="changeClick('allowances')"
    [changeRoute]="(isEditable$ | async) ? '.' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Surrender of allowances</span>
  </h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Surrender of allowances</dt>
      <dd govukSummaryListRowValue>
        {{
          grantDetermination.allowancesSurrenderRequired
            ? (grantDetermination.allowancesSurrenderDate | govukDate)
            : 'No'
        }}
      </dd>
    </div>
  </dl>
</ng-container>
