<h2
  app-summary-header
  class="govuk-heading-m"
  (changeClick)="editClicked.emit($event)"
  [changeRoute]="isEditable ? '.' : null"
>
  Decision Summary
</h2>
<dl
  govuk-summary-list
  class="govuk-summary-list--no-border summary-list--edge-border"
  *ngIf="reviewDecision$ | async as reviewDecision"
>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Decision status</dt>
    <dd govukSummaryListRowValue>{{ reviewDecision.type | reviewGroupDecision }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Notes</dt>
    <dd govukSummaryListRowValue>{{ reviewDecision.notes }}</dd>
  </div>
</dl>

<a govukLink routerLink="..">Return to: Permit surrender review</a>
