<dl govuk-summary-list [class]="cssClass" [hasBorders]="false">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Source stream category</dt>
    <dd govukSummaryListRowValue>
      <ng-container *ngIf="sourceStreamCategory.sourceStream | findSourceStream | async as sourceStream">
        {{ sourceStream | tierSourceStreamName: sourceStreamCategory }}
      </ng-container>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Emission sources</dt>
    <dd govukSummaryListRowValue>
      <ng-container *ngFor="let emissionSourceId of sourceStreamCategory.emissionSources; let isLast = last">
        <ng-container *ngIf="'emissionSources' | task | async | emissionSource: emissionSourceId as emissionSource">
          {{ emissionSource.reference }}
          {{ emissionSource.description + (!isLast ? ', ' : '') }}
        </ng-container>
      </ng-container>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Estimated CO2 emitted</dt>
    <dd govukSummaryListRowValue>{{ sourceStreamCategory.annualEmittedCO2Tonnes | number }} tonnes</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Measurement Devices Or Methods</dt>
    <dd govukSummaryListRowValue class="pre-line">
      <ng-container *ngFor="let deviceId of sourceStreamCategory.measurementDevicesOrMethods; let isLast = last">
        <ng-container
          *ngIf="'measurementDevicesOrMethods' | task | async | measurementDeviceOrMethod: deviceId as device"
        >
          {{ device | measurementDeviceOrMethodName }} {{ !isLast ? '\n' : '' }}
        </ng-container>
      </ng-container>
    </dd>
  </div>
  <div govukSummaryListRow *ngIf="sourceStreamCategory.uncertainty">
    <dt govukSummaryListRowKey>Overall metering uncertainty</dt>
    <dd govukSummaryListRowValue>{{ sourceStreamCategory.uncertainty | meteringUncertaintyName }}</dd>
  </div>
</dl>
