<ng-container *ngIf="('PFC' | monitoringApproachTask | async).sourceStreamCategoryAppliedTiers[index$ | async] as tier">
  <app-permit-task>
    <app-page-heading caption="Perfluorocarbons, {{ tier | sourceStreamCategoryName | async }}"
      >Confirm your answers</app-page-heading
    >
    <app-activity-data-template></app-activity-data-template>

    <app-activity-data-summary-overview
      [isChangeLinkAvailable]="(store.isEditable$ | async) === true"
      [activityDataSectionHasBottomBorder]="true"
      [justificationSectionHasBottomBorder]="!tier?.activityData?.isHighestRequiredTier"
    ></app-activity-data-summary-overview>

    <div *ngIf="(store.isEditable$ | async) === true" class="govuk-button-group">
      <button appPendingButton govukButton type="button" (click)="onConfirm()">Confirm and complete</button>
    </div>

    <a govukLink routerLink="../.."> Return to: {{ tier | sourceStreamCategoryName | async }} </a>
  </app-permit-task>
</ng-container>
