<app-permit-task-review [breadcrumb]="true" [notification]="notification" heading="Perfluorocarbons approach">
  <app-site-emissions></app-site-emissions>

  <h2 class="govuk-heading-m">Perfluorocarbons emission sources</h2>

  <ul app-task-item-list>
    <div class="overflow-auto">
      <ng-container *ngIf="(sourceStreamCategoryAppliedTiers$ | async)?.length > 0; else addNew">
        <govuk-table [columns]="columns" [data]="sourceStreamCategoryAppliedTiers$ | async">
          <ng-template let-column="column" let-row="row" let-index="index">
            <ng-container [ngSwitch]="column.field">
              <ng-container *ngSwitchCase="'category'">
                <a govukLink [routerLink]="['../../pfc/category-tier', index]">
                  <ng-container
                    *ngIf="
                      row?.sourceStreamCategory?.sourceStream | findSourceStream | async as sourceStream;
                      else noSourceStream
                    "
                  >
                    {{ sourceStream | tierSourceStreamName: row.sourceStreamCategory }}
                  </ng-container>
                  <ng-template #noSourceStream>
                    UNDEFINED: {{ row?.sourceStreamCategory?.categoryType | categoryTypeName }}
                  </ng-template>
                </a>
              </ng-container>
              <ng-container *ngSwitchCase="'emissions'">
                {{ row?.sourceStreamCategory?.annualEmittedCO2Tonnes | number }} t ({{
                  (row?.sourceStreamCategory?.annualEmittedCO2Tonnes ?? 0) / (sumOfAnnualEmitted$ | async) | percent
                }})
              </ng-container>
              <ng-container *ngSwitchCase="'status'">
                <govuk-tag
                  [color]="'PFC_Category_Tier' | taskStatus: index | async | tagColor"
                  class="app-task-list__tag"
                >
                  {{ 'PFC_Category_Tier' | taskStatus: index | async | i18nSelect: statusMap }}
                </govuk-tag>
              </ng-container>
            </ng-container>
          </ng-template>
        </govuk-table>
        <a
          *ngIf="(store.isEditable$ | async) === true"
          govukLink
          [routerLink]="['../../pfc/category-tier', (sourceStreamCategoryAppliedTiers$ | async)?.length]"
        >
          Add a source stream category
        </a>
      </ng-container>

      <ng-template #addNew>
        <li
          *ngIf="(store.isEditable$ | async) === true"
          app-task-item
          link="../../pfc/category-tier/0"
          linkText="Add a source stream category"
          [status]="sourceStreamCategoriesStatus$ | async"
        ></li>
      </ng-template>
    </div>
  </ul>

  <h2 class="govuk-heading-m">Perfluorocarbons details</h2>

  <ul app-task-item-list>
    <li
      app-task-item
      link="../../pfc/description/summary"
      linkText="Approach description"
      [status]="'PFC_Description' | taskStatus | async"
    >
      <app-pfc-approach-description-summary-template
        [hasBottomBorder]="false"
      ></app-pfc-approach-description-summary-template>
    </li>
    <li
      app-task-item
      link="../../pfc/types/summary"
      linkText="Cell and anode types"
      [status]="'PFC_Types' | taskStatus | async"
    >
      <app-pfc-approach-types-summary-template [hasBottomBorder]="false"></app-pfc-approach-types-summary-template>
    </li>
    <li
      app-task-item
      link="../../pfc/efficiency/summary"
      linkText="Collection efficiency"
      [status]="'PFC_Efficiency' | taskStatus | async"
    >
      <app-procedure-form-summary
        [details]="('PFC' | monitoringApproachTask | async).collectionEfficiency"
        cssClass="summary-list--edge-border"
        [hasBottomBorder]="false"
      ></app-procedure-form-summary>
    </li>
    <li
      app-task-item
      link="../../pfc/emission-factor/summary"
      linkText="Tier 2 - Emission factor"
      [status]="'PFC_Tier2EmissionFactor' | taskStatus | async"
    >
      <app-emission-factor-summary-details
        *ngIf="('PFC_Tier2EmissionFactor' | taskStatus | async) === 'complete'"
        [emissionFactor]="('PFC' | monitoringApproachTask | async).tier2EmissionFactor"
        [changePerStage]="false"
        [hasBottomBorder]="false"
        cssClass="summary-list--edge-border"
      ></app-emission-factor-summary-details>
    </li>
  </ul>

  <app-review-group-decision
    [groupKey]="groupKey$ | async"
    (notification)="notification = $event"
  ></app-review-group-decision>
</app-permit-task-review>
