<app-wizard-step
  (formSubmit)="onContinue()"
  [formGroup]="form"
  submitText="Continue"
  [hideSubmit]="(store.isEditable$ | async) === false"
>
  <span class="govuk-caption-l">Grant permit surrender</span>

  <app-page-heading>Is a surrender of allowances required?</app-page-heading>
  <div formControlName="allowancesSurrenderRequired" govuk-radio legendSize="medium">
    <govuk-radio-option [value]="true" label="Yes">
      <ng-container govukConditionalContent>
        <div
          formControlName="allowancesSurrenderDate"
          govuk-date-input
          [min]="today"
          label="When is the surrender of allowances required?"
        ></div>
      </ng-container>
    </govuk-radio-option>
    <govuk-radio-option [value]="false" label="No"> </govuk-radio-option>
  </div>
</app-wizard-step>
<a govukLink routerLink="../../..">Return to: Permit surrender review</a>
