<app-permit-task [breadcrumb]="[{ text: 'Perfluorocarbons', link: ['pfc'] }]">
  <ng-container *ngIf="(isEditable$ | async) === false; else start">
    <app-page-heading caption="Perfluorocarbons"> Add a source stream category </app-page-heading>
    <p class="govuk-body">Get help with <a [routerLink]="" govukLink>source stream categories</a>.</p>
    <p class="govuk-body">Get help with <a [routerLink]="" govukLink>Perfluorocarbons</a>.</p>
    <p class="govuk-body">Other tasks must be completed before you can start:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Source streams (fuels and materials)</li>
      <li>Emission sources</li>
      <li>Emission points</li>
    </ul>
  </ng-container>

  <ng-template #start>
    <app-page-heading caption="Perfluorocarbons">
      <ng-container
        *ngIf="('PFC' | monitoringApproachTask | async).sourceStreamCategoryAppliedTiers as tiers; else addStream"
      >
        <ng-container *ngIf="tiers && tiers[index$ | async]; else addStream">
          {{ tiers[index$ | async] | sourceStreamCategoryName | async }}
          <button *ngIf="(store.isEditable$ | async) === true" routerLink="delete" govukSecondaryButton type="button">
            Delete
          </button>
        </ng-container>
      </ng-container>
      <ng-template #addStream>
        <ng-container *ngIf="(store.isEditable$ | async) === true">Add a source stream category</ng-container>
      </ng-template>
    </app-page-heading>
    <p class="govuk-body">Get help with <a [routerLink]="" govukLink>source stream categories</a>.</p>
    <p class="govuk-body">Get help with <a [routerLink]="" govukLink>Perfluorocarbons</a>.</p>
    <h2 class="govuk-heading-m">Define the source stream category</h2>
    <ul app-task-item-list>
      <li
        app-task-item
        link="./category/summary"
        linkText="Source stream category"
        [status]="'PFC_Category' | taskStatus: (index$ | async) | async"
      >
        <app-category-summary-overview
          *ngIf="('PFC_Category' | taskStatus: (index$ | async) | async) === 'complete'"
          [sourceStreamCategory]="
            ('PFC' | monitoringApproachTask | async).sourceStreamCategoryAppliedTiers[index$ | async]
              .sourceStreamCategory
          "
          cssClass="govuk-!-margin-bottom-0"
        >
        </app-category-summary-overview>
      </li>
    </ul>

    <h2 class="govuk-heading-m">Define calculation parameters and apply monitoring tiers</h2>
    <ul app-task-item-list>
      <li
        app-task-item
        link="activity-data/summary"
        linkText="Activity data"
        [status]="'PFC_Activity_Data' | taskStatus: (index$ | async) | async"
      >
        <ng-container *ngIf="('PFC_Activity_Data' | taskStatus: (index$ | async) | async) === 'complete'">
          <ng-container
            *ngIf="('PFC' | monitoringApproachTask | async).sourceStreamCategoryAppliedTiers?.[index$ | async]?.activityData as activityData"
          >
            <app-activity-data-summary-overview
              [isChangeLinkAvailable]="false"
              [activityDataSectionHasBottomBorder]="
                activityData.isHighestRequiredTier !== undefined && !activityData.isHighestRequiredTier
              "
              [justificationSectionHasBottomBorder]="false"
            ></app-activity-data-summary-overview>
          </ng-container>
        </ng-container>
      </li>
      <li
        app-task-item
        link="emission-factor/summary"
        linkText="Emission factor"
        [status]="'PFC_Emission_Factor' | taskStatus: (index$ | async) | async"
      >
        <ng-container *ngIf="('PFC_Emission_Factor' | taskStatus: (index$ | async) | async) === 'complete'">
          <app-category-tier-emission-factor-summary-overview
            [preview]="true"
          ></app-category-tier-emission-factor-summary-overview>
        </ng-container>
      </li>
    </ul>
  </ng-template>

  <app-approach-return-link parentTitle="Perfluorocarbons" reviewGroupUrl="pfc"></app-approach-return-link>
</app-permit-task>
