<div class="govuk-grid-row">
  <div [class]="(hasRelatedActions$ | async) === true ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
    <ng-container *ngIf="requestTaskItem$ | async as requestTaskItem">
      <app-page-heading size="xl">
        {{ type$ | async | i18nSelect: headingMap }}
        <app-task-header-info
            [assignee]="requestTaskItem.requestTask.assigneeFullName"
            [daysRemaining]="requestTaskItem.requestTask.daysRemaining"
        ></app-task-header-info>
      </app-page-heading>

      <p class="govuk-body">{{ type$ | async | i18nSelect: contentMap }}.</p>

      <app-payment-summary [details]="details$ | async" [isActionView]="true">
        <h2 app-summary-header class="govuk-heading-m">Payment Details</h2>
      </app-payment-summary>

      <ng-container *ngIf="(store | async).requestTaskItem.allowedRequestTaskActions as actions">
        <div *ngIf="actions?.length > 0" class="govuk-button-group">
          <button *ngIf="actions.includes('PAYMENT_MARK_AS_RECEIVED')" govukButton (click)="received()">
            Mark payment as received
          </button>
          <button *ngIf="actions.includes('PAYMENT_CANCEL')" govukButton govukSecondaryButton (click)="cancel()">
            Cancel payment task
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="relatedTasks$ | async as relatedTasks">
        <app-related-tasks *ngIf="relatedTasks.length > 0" [items]="relatedTasks"></app-related-tasks>
      </ng-container>

      <app-timeline>
        <app-timeline-item
          *ngFor="let action of actions$ | async"
          [action]="action"
          [link]="action | timelineItemLink"
          [state]="navigationState"
        ></app-timeline-item>
      </app-timeline>
    </ng-container>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="(hasRelatedActions$ | async) === true">
    <app-related-actions
        [isAssignable]="isAssignable$ | async"
        [taskId]="taskId$ | async"
        [allowedActions]="allowedRequestTaskActions$ | async"
    ></app-related-actions>
  </div>
</div>
