<app-permit-task [notification]="notification" [breadcrumb]="[{ text: 'Measurement', link: ['measurement'] }]">
  <app-page-heading caption="Measurement">{{ taskKey$ | async | i18nSelect: headingMap }}</app-page-heading>

  <ng-container [ngSwitch]="taskKey$ | async">
    <ng-container *ngSwitchCase="'monitoringApproaches.MEASUREMENT.gasFlowCalculation'">
      <div class="govuk-body">
        <h2>Provide gas flow details</h2>
        <p>Provide details of the procedures used for this calculation for each relevant emission source</p>
        <p>Get help with <a [routerLink]="" govukLink>Calculation of gas flow</a>.</p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'monitoringApproaches.MEASUREMENT.biomassEmissions'">
      <div class="govuk-body">
        <h2>Biomass emissions deduction</h2>
        <p>
          Provide details about the procedure of how biomass CO2 is determined and subtracted from the measured CO2
          emissions.
        </p>
        <p>Get help with <a [routerLink]="" govukLink>Biomass emissions</a>.</p>
      </div>
    </ng-container>
  </ng-container>

  <h2
    app-summary-header
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">{{ taskKey$ | async | i18nSelect: headingMap }}</span>
  </h2>

  <app-measurement-optional-summary-template
    [procedureOptionalForm]="procedure$ | async"
    [taskKey]="taskKey$ | async"
    cssClass="govuk-!-margin-bottom-0"
  ></app-measurement-optional-summary-template>

  <app-approach-return-link parentTitle="Measurement" reviewGroupUrl="measurement"></app-approach-return-link>
</app-permit-task>
