<app-permit-task
  [notification]="notification"
  [breadcrumb]="true"
  reviewGroupTitle="Management procedures"
  reviewGroupUrl="management-procedures"
>
  <app-page-heading caption="Management procedures">Monitoring and reporting roles</app-page-heading>

  <p class="govuk-body">
    Provide details of the key roles that are responsible for monitoring and reporting on emissions and the main duties
    the holders of these roles carry out.
  </p>

  <h2
    app-summary-header
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    Roles
  </h2>
  <app-monitoring-roles-summary-template></app-monitoring-roles-summary-template>
  <app-list-return-link
    reviewGroupTitle="Management procedures"
    reviewGroupUrl="management-procedures"
  ></app-list-return-link>
</app-permit-task>
