<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-wizard-step
      (formSubmit)="onContinue()"
      [formGroup]="form"
      submitText="Continue"
      [hideSubmit]="(store | async).isEditable === false"
    >
      <span class="govuk-caption-l">Notify the regulator of a change</span>

      <ng-container [ngSwitch]="(permitNotificationService.getPayload() | async).permitNotification.type">
        <ng-container *ngSwitchCase="'TEMPORARY_FACTOR'">
          <app-temporary-factor formGroupName="notification" [today]="today">
            <app-multiple-file-input
              [baseDownloadUrl]="getDownloadUrl()"
              [label]="(isFileUploaded$ | async) ? 'Upload a different file' : 'Upload a file'"
              formControlName="documents"
              listTitle="Upload any supporting documents (optional)"
              hint="The file must be smaller than 20MB"
            ></app-multiple-file-input>
          </app-temporary-factor>
        </ng-container>
        <ng-container *ngSwitchCase="'TEMPORARY_CHANGE'">
          <app-temporary-change formGroupName="notification" [today]="today">
            <app-multiple-file-input
              [baseDownloadUrl]="getDownloadUrl()"
              [label]="(isFileUploaded$ | async) ? 'Upload a different file' : 'Upload a file'"
              formControlName="documents"
              listTitle="Upload any supporting documents (optional)"
              hint="The file must be smaller than 20MB"
            ></app-multiple-file-input>
          </app-temporary-change>
        </ng-container>
        <ng-container *ngSwitchCase="'TEMPORARY_SUSPENSION'">
          <app-temporary-suspension formGroupName="notification" [today]="today">
            <app-multiple-file-input
              [baseDownloadUrl]="getDownloadUrl()"
              [label]="(isFileUploaded$ | async) ? 'Upload a different file' : 'Upload a file'"
              formControlName="documents"
              listTitle="Upload any supporting documents (optional)"
              hint="The file must be smaller than 20MB"
            ></app-multiple-file-input>
          </app-temporary-suspension>
        </ng-container>
        <ng-container *ngSwitchCase="'NON_SIGNIFICANT_CHANGE'">
          <app-non-significant-change formGroupName="notification">
            <app-multiple-file-input
              [baseDownloadUrl]="getDownloadUrl()"
              [label]="(isFileUploaded$ | async) ? 'Upload a different file' : 'Upload a file'"
              formControlName="documents"
              listTitle="Upload any supporting documents (optional)"
              hint="The file must be smaller than 20MB"
            ></app-multiple-file-input>
          </app-non-significant-change>
        </ng-container>
        <ng-container *ngSwitchCase="'OTHER_FACTOR'">
          <app-other-factor formGroupName="notification" [today]="today">
            <app-multiple-file-input
              [baseDownloadUrl]="getDownloadUrl()"
              [label]="(isFileUploaded$ | async) ? 'Upload a different file' : 'Upload a file'"
              formControlName="documents"
              listTitle="Upload any supporting documents (optional)"
              hint="The file must be smaller than 20MB"
            ></app-multiple-file-input>
          </app-other-factor>
        </ng-container>
      </ng-container>
    </app-wizard-step>
    <a govukLink routerLink="..">Return to: Notify the regulator of a change</a>
  </div>
</div>
