<app-page-heading caption="Monitoring approaches">Preparing to define monitoring approaches</app-page-heading>

<p class="govuk-body">
  The monitoring approach is the part of a monitoring plan that defines how annual emissions are monitored.
</p>

<p class="govuk-body">
  In general, the method and degree of accuracy required in monitoring emissions becomes greater as the amount of
  emissions increases - and is based on two factors:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>The overall estimated annual emissions - as defined in the installation category task</li>
  <li>The individual estimated emissions of a fuel or material source stream</li>
</ul>

<p class="govuk-body">
  Prior to starting to define monitoring approaches, you should consider and prepare the following for each of your fuel
  and material source streams:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an estimate of how many tonnes of CO2e are emitted annually</li>
  <li>the measurement devices or methods you will use to monitor and record emissions</li>
</ul>

<p class="govuk-body">
  You may also need to consider that your installation may release emissions from a fuel or material source stream in
  different amounts within different parts of your installation and that these may be monitored by a different set of
  measurement devices or methods.
</p>
