<ng-container
  *ngIf="
    ('PFC' | monitoringApproachTask | async).sourceStreamCategoryAppliedTiers[index$ | async]
      .emissionFactor as emissionFactor
  "
>
  <h2
    *ngIf="!preview"
    app-summary-header
    (changeClick)="changeClick('')"
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">Emission factor</span>
  </h2>
  <dl
    govuk-summary-list
    [hasBorders]="false"
    [class.summary-list--edge-border]="emissionFactor.isHighestRequiredTier === false"
  >
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Tier applied</dt>
      <dd govukSummaryListRowValue>{{ emissionFactor.tier | appliedTier }}</dd>
    </div>
    <ng-container *ngIf="emissionFactor.isHighestRequiredTier !== undefined">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Highest required tier?</dt>
        <dd govukSummaryListRowValue>{{ emissionFactor.isHighestRequiredTier ? 'Yes' : 'No' }}</dd>
      </div>
    </ng-container>
  </dl>

  <ng-container *ngIf="emissionFactor.isHighestRequiredTier === false">
    <h2
      *ngIf="!preview"
      app-summary-header
      (changeClick)="changeClick('justification')"
      [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
      class="govuk-heading-m"
    >
      <span class="govuk-visually-hidden">Emission factor justification</span>
    </h2>
    <dl govuk-summary-list [hasBorders]="false" [class.summary-list--edge-border]="false">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Reasons for not applying the highest required tier</dt>
        <dd govukSummaryListRowValue>
          <ng-container *ngIf="emissionFactor?.noHighestRequiredTierJustification?.isCostUnreasonable"
            >Unreasonable cost<br
          /></ng-container>
          <ng-container *ngIf="emissionFactor?.noHighestRequiredTierJustification?.isTechnicallyInfeasible"
            >Technical infeasibility</ng-container
          >
        </dd>
      </div>
      <div govukSummaryListRow *ngIf="emissionFactor?.noHighestRequiredTierJustification?.isTechnicallyInfeasible">
        <dt govukSummaryListRowKey>Explanation of technical infeasibility</dt>
        <dd govukSummaryListRowValue class="pre-wrap">
          {{ emissionFactor.noHighestRequiredTierJustification.technicalInfeasibilityExplanation }}
        </dd>
      </div>
      <div govukSummaryListRow *ngIf="(files$ | async)?.length">
        <dt govukSummaryListRowKey>Supporting files</dt>
        <dd govukSummaryListRowValue>
          <app-summary-download-files [files]="store.getDownloadUrlFiles(files$ | async)"> </app-summary-download-files>
        </dd>
      </div>
    </dl>
  </ng-container>
</ng-container>
