{
  "openapi": "3.0.3",
  "info": {
    "title": "PMRV API Documentation",
    "description": "Back-end REST API documentation for the UK PMRV application",
    "contact": {},
    "version": "uk-pmrv-app-api 0.55.0-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://integration.ukpmrv.net:443",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "Account update",
      "description": "Account Update Controller"
    },
    {
      "name": "Account verification body",
      "description": "Account Verification Body Controller"
    },
    {
      "name": "Account view",
      "description": "Account View Controller"
    },
    {
      "name": "Accounts",
      "description": "Account Controller"
    },
    {
      "name": "Authorities",
      "description": "Authority Controller"
    },
    {
      "name": "Ca external contacts",
      "description": "Ca External Contact Controller"
    },
    {
      "name": "Ca site contacts",
      "description": "Ca Site Contact Controller"
    },
    {
      "name": "Document Template Files",
      "description": "Document Template File Controller"
    },
    {
      "name": "Document Templates",
      "description": "Document Template Controller"
    },
    {
      "name": "File Attachments",
      "description": "File Attachment Controller"
    },
    {
      "name": "File Document Templates",
      "description": "File Document Template Controller"
    },
    {
      "name": "File Documents",
      "description": "File Document Controller"
    },
    {
      "name": "Items Assigned To Me",
      "description": "Item Assigned To Me Controller"
    },
    {
      "name": "Items Assigned To Others",
      "description": "Item Assigned To Others Controller"
    },
    {
      "name": "Legal Entities",
      "description": "Legal Entity Controller"
    },
    {
      "name": "Notification Templates",
      "description": "Notification Template Controller"
    },
    {
      "name": "Operator Authorities",
      "description": "Operator Authority Controller"
    },
    {
      "name": "Operator Users",
      "description": "Operator User Management Controller"
    },
    {
      "name": "Operator Users invitation",
      "description": "Operator User Invitation Controller"
    },
    {
      "name": "Operator users registration",
      "description": "Operator User Registration Controller"
    },
    {
      "name": "Payments",
      "description": "Request Task Payment Controller"
    },
    {
      "name": "Permits",
      "description": "Permit Controller"
    },
    {
      "name": "Reference Data",
      "description": "Reference Data Controller"
    },
    {
      "name": "Regulator Authorities",
      "description": "Regulator Authority Permission Controller"
    },
    {
      "name": "Regulator Users",
      "description": "Regulator User Invitation Controller"
    },
    {
      "name": "Regulator users registration",
      "description": "Regulator User Registration Controller"
    },
    {
      "name": "Request action attachments handling",
      "description": "Request Action Attachment Controller"
    },
    {
      "name": "Request action file documents handling",
      "description": "Request Action File Document Controller"
    },
    {
      "name": "Request actions",
      "description": "Request Action Controller"
    },
    {
      "name": "Request items",
      "description": "Item Controller"
    },
    {
      "name": "Request task attachments handling",
      "description": "Request Task Attachment Controller"
    },
    {
      "name": "Requests",
      "description": "Request Controller"
    },
    {
      "name": "Tasks",
      "description": "Request Task Controller"
    },
    {
      "name": "Tasks Assignment",
      "description": "Request Task Assignment Controller"
    },
    {
      "name": "Tasks Release",
      "description": "Request Task Release Controller"
    },
    {
      "name": "Terms and conditions",
      "description": "Terms Controller"
    },
    {
      "name": "Unassigned Items",
      "description": "Item Unassigned Controller"
    },
    {
      "name": "User signatures",
      "description": "User Signature Controller"
    },
    {
      "name": "Users",
      "description": "User Controller"
    },
    {
      "name": "Users Security Setup",
      "description": "User Security Setup Controller"
    },
    {
      "name": "VB site contacts",
      "description": "Vb Site Contact Controller"
    },
    {
      "name": "Verification Bodies",
      "description": "Verification Body Controller"
    },
    {
      "name": "Verifier Users",
      "description": "Verifier User Management Controller"
    },
    {
      "name": "Verifier Users Invitation",
      "description": "Verifier User Invitation Controller"
    },
    {
      "name": "Verifier authorities",
      "description": "Verifier Authority Controller"
    },
    {
      "name": "Verifier users registration",
      "description": "Verifier User Registration Controller"
    }
  ],
  "paths": {
    "/api/v1.0/accounts": {
      "get": {
        "tags": [
          "Accounts",
          "Authenticated"
        ],
        "summary": "Retrieves the current user associated accounts",
        "operationId": "getCurrentUserAccountsUsingGET",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "The term to search",
            "required": false,
            "style": "form",
            "schema": {
              "maxLength": 256,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The account type",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "AVIATION",
                "INSTALLATION"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSearchResults"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/name": {
      "get": {
        "tags": [
          "Accounts",
          "Authenticated"
        ],
        "summary": "Checks if account name exists",
        "operationId": "isExistingAccountNameUsingGET",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The account name",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/address": {
      "post": {
        "tags": [
          "Account update",
          "Authenticated"
        ],
        "summary": "Updates the address of the account",
        "operationId": "updateAccountAddressUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/legal-entity/address": {
      "post": {
        "tags": [
          "Account update",
          "Authenticated"
        ],
        "summary": "Updates the address of the Legal Entity",
        "operationId": "updateLegalEntityAddressUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/legal-entity/name": {
      "post": {
        "tags": [
          "Account update",
          "Authenticated"
        ],
        "summary": "Updates the name of the legal entity",
        "operationId": "updateLegalEntityNameUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateLegalEntityNameDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/registry-id": {
      "post": {
        "tags": [
          "Account update",
          "Authenticated"
        ],
        "summary": "Update the uk ets registry id of the account",
        "operationId": "updateAccountRegistryIdUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRegistryIdDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/site-name": {
      "post": {
        "tags": [
          "Account update",
          "Authenticated"
        ],
        "summary": "Update the site name of the account",
        "operationId": "updateAccountSiteNameUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateSiteNameDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/sop-id": {
      "post": {
        "tags": [
          "Account update",
          "Authenticated"
        ],
        "summary": "Update the sop id of the account",
        "operationId": "updateAccountSopIdUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateSopIdDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/active-verification-bodies": {
      "get": {
        "tags": [
          "Account verification body",
          "Authenticated"
        ],
        "summary": "Get all active verification bodies",
        "operationId": "getActiveVerificationBodiesUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VerificationBodyNameInfoDTO"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/appoint-verification-body": {
      "post": {
        "tags": [
          "Account verification body",
          "Authenticated"
        ],
        "summary": "Appoint verification body to account",
        "operationId": "appointVerificationBodyToAccountUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointVerificationBodyDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nACCOUNT1006 | A verification body has already been appointed to the Installation account \t\n ACCOUNT1008 | The verification body is not accredited to the account's emission trading scheme \t\n NOTIF1000 | Template processing failed \t\n NOTFOUND1001 | Resource not found \t\n FORM1001 | Form validation failed"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Account verification body",
          "Authenticated"
        ],
        "summary": "Reappoint verification body to account",
        "operationId": "replaceVerificationBodyToAccountUsingPATCH",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointVerificationBodyDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nACCOUNT1006 | A verification body has already been appointed to the Installation account \t\n ACCOUNT1007 | A verification body has not been appointed to the Installation account \t\n ACCOUNT1008 | The verification body is not accredited to the account's emission trading scheme \t\n NOTIF1000 | Template processing failed \t\n NOTFOUND1001 | Resource not found \t\n FORM1001 | Form validation failed"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/accounts/{id}/verification-body": {
      "get": {
        "tags": [
          "Account verification body",
          "Authenticated"
        ],
        "summary": "Get the verification body of the account (if exists)",
        "operationId": "getVerificationBodyOfAccountUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationBodyNameInfoDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/account/{id}": {
      "get": {
        "tags": [
          "Account view",
          "Authenticated"
        ],
        "summary": "Get the account with the provided id",
        "operationId": "getAccountByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetailsDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/account/{id}/header-info": {
      "get": {
        "tags": [
          "Account view",
          "Authenticated"
        ],
        "summary": "Get the account header info for the provided account",
        "operationId": "getAccountHeaderInfoByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHeaderInfoDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/authorities/current-user-status": {
      "get": {
        "tags": [
          "Authenticated",
          "Authorities"
        ],
        "summary": "Retrieves the status of the logged in user",
        "operationId": "getCurrentUserStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserStatusDTO"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/ca-external-contacts": {
      "get": {
        "tags": [
          "Authenticated",
          "Ca external contacts"
        ],
        "summary": "Retrieves the current regulator external contacts",
        "operationId": "getCaExternalContactsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CaExternalContactsDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Authenticated",
          "Ca external contacts"
        ],
        "summary": "Creates a new ca external contact",
        "operationId": "createCaExternalContactUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaExternalContactRegistrationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/ca-external-contacts/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Ca external contacts"
        ],
        "summary": "Returns the ca external contact with specified id",
        "operationId": "getCaExternalContactByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ca external contact id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CaExternalContactDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Authenticated",
          "Ca external contacts"
        ],
        "summary": "Deletes the ca external contact with specified id",
        "operationId": "deleteCaExternalContactByIdUsingDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ca external contact id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Authenticated",
          "Ca external contacts"
        ],
        "summary": "Edits the ca external contact with specified id",
        "operationId": "editCaExternalContactUsingPATCH",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ca external contact id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaExternalContactRegistrationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/ca-site-contacts": {
      "get": {
        "tags": [
          "Authenticated",
          "Ca site contacts"
        ],
        "summary": "Retrieves the accounts and competent authority site contact of the accounts",
        "operationId": "getCaSiteContactsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountContactInfoResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Authenticated",
          "Ca site contacts"
        ],
        "summary": "Updates competent authority site contacts",
        "operationId": "updateCaSiteContactsUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountContactDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1003 | User is not related to competent authority \t\n ACCOUNT1004 | Account is not related to competent authority \t\n FORM1001 | Form validation failed"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/document-templates": {
      "get": {
        "tags": [
          "Authenticated",
          "Document Templates"
        ],
        "summary": "Retrieves the document templates associated with current user",
        "operationId": "getCurrentUserDocumentTemplatesUsingGET",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "The term to search",
            "required": false,
            "style": "form",
            "schema": {
              "maxLength": 256,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSearchResults"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/document-templates/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Document Templates"
        ],
        "summary": "Retrieves the document template with the provided id",
        "operationId": "getDocumentTemplateByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The document template id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nNOTIF1001 | File does not exist for document template"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Authenticated",
          "Document Templates"
        ],
        "summary": "Updates the document template with the provided id",
        "operationId": "updateDocumentTemplateUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The document template id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The document template source file",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nNOTIF1001 | File does not exist for document template"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/document-template-files/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Document Template Files"
        ],
        "summary": "Generates the token to get the file with the provided uuid that belongs to the provided document template",
        "operationId": "generateGetDocumentTemplateFileTokenUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The document template id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fileUuid",
            "in": "query",
            "description": "The file uuid",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/file-attachments/{token}": {
      "get": {
        "tags": [
          "File Attachments"
        ],
        "summary": "Get the file attachment resource for the provided file attachment token",
        "operationId": "getFileAttachmentUsingGET",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The file attachment token",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/file-documents/{token}": {
      "get": {
        "tags": [
          "File Documents"
        ],
        "summary": "Get the file document resource for the provided file token",
        "operationId": "getFileDocumentUsingGET",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The file document token",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/file-document-templates/{token}": {
      "get": {
        "tags": [
          "File Document Templates"
        ],
        "summary": "Get the file document template resource for the provided file token",
        "operationId": "getFileDocumentTemplateUsingGET",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The file document token",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/items/assigned-to-me": {
      "get": {
        "tags": [
          "Authenticated",
          "Items Assigned To Me"
        ],
        "summary": "Retrieves the items assigned to the logged-in user",
        "operationId": "getAssignedItemsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/items/assigned-to-me/account/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Items Assigned To Me"
        ],
        "summary": "Retrieves the items assigned to the logged-in user per account",
        "operationId": "getAssignedItemsByAccountUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nFORM1002 | Parameters validation failed"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/items/assigned-to-others": {
      "get": {
        "tags": [
          "Authenticated",
          "Items Assigned To Others"
        ],
        "summary": "Retrieves the items assigned to users different than the logged-in user of the same role type who participate in the same accounts",
        "operationId": "getAssignedToOthersItemsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/items/assigned-to-others/account/{accountId}": {
      "get": {
        "tags": [
          "Authenticated",
          "Items Assigned To Others"
        ],
        "summary": "Retrieves the items assigned to users different than the logged-in user of the same role type who participate in the same account id",
        "operationId": "getItemsAssignedToOthersByAccountUsingGET",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/items/{request-id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Request items"
        ],
        "summary": "Retrieves the items by request",
        "operationId": "getItemsByRequestUsingGET",
        "parameters": [
          {
            "name": "request-id",
            "in": "path",
            "description": "The request id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/items/unassigned": {
      "get": {
        "tags": [
          "Authenticated",
          "Unassigned Items"
        ],
        "summary": "Retrieves the unassigned items",
        "operationId": "getUnassignedItemsUsingGET",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/items/unassigned/account/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Unassigned Items"
        ],
        "summary": "Retrieves the unassigned items by account",
        "operationId": "getUnassignedItemsByAccountUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDTOResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nFORM1002 | Parameters validation failed"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/legal-entities": {
      "get": {
        "tags": [
          "Authenticated",
          "Legal Entities"
        ],
        "summary": "Retrieves all legal entities associated with the user",
        "operationId": "getCurrentUserLegalEntitiesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LegalEntityInfoDTO"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/legal-entities/name": {
      "get": {
        "tags": [
          "Authenticated",
          "Legal Entities"
        ],
        "summary": "Checks if legal entity name exists",
        "operationId": "isExistingLegalEntityNameUsingGET",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The legal entity name to check",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nACCOUNT1000 | User account does not belong to legal entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/legal-entities/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Legal Entities"
        ],
        "summary": "Returns legal entity with the specified id that is associated with the user",
        "operationId": "getLegalEntityByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The legal entity id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LegalEntityDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nACCOUNT1000 | User account does not belong to legal entity"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/notification-templates": {
      "get": {
        "tags": [
          "Authenticated",
          "Notification Templates"
        ],
        "summary": "Retrieves the notification templates associated with current user",
        "operationId": "getCurrentUserNotificationTemplatesUsingGET",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "description": "The role type",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "OPERATOR",
                "REGULATOR",
                "VERIFIER"
              ]
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "The term to search",
            "required": false,
            "style": "form",
            "schema": {
              "maxLength": 256,
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number starting from zero",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The page size",
            "required": true,
            "style": "form",
            "schema": {
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateSearchResults"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/notification-templates/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Notification Templates"
        ],
        "summary": "Retrieves the notification template with the provided id",
        "operationId": "getNotificationTemplateByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The notification template id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTemplateDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Authenticated",
          "Notification Templates"
        ],
        "summary": "Updates the notification template with the provided id",
        "operationId": "updateNotificationTemplateUsingPUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The notification template id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationTemplateUpdateDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/operator-authorities/account/{accountId}": {
      "get": {
        "tags": [
          "Authenticated",
          "Operator Authorities"
        ],
        "summary": "Retrieves the authorities of type OPERATOR for the given account id along with the account contact types",
        "operationId": "getAccountOperatorAuthoritiesUsingGET",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccountOperatorsUsersAuthoritiesInfoDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Authenticated",
          "Operator Authorities"
        ],
        "summary": "Updates authorities for users of type OPERATOR for the given account id",
        "operationId": "updateAccountOperatorAuthoritiesUsingPOST",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountOperatorAuthorityUpdateWrapperDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nROLE1000 | Invalid operator role code \t\n AUTHORITY1001 | At least one operator admin should exist in account \t\n AUTHORITY1004 | User is not related to account \t\n AUTHORITY1008 | Authority status in not valid \t\n AUTHORITY1012 | User role can not be modified \t\nACCOUNT_CONTACT1001 | You must have a primary contact on your account \t\nACCOUNT_CONTACT1002 | You must have a financial contact on your account \t\nACCOUNT_CONTACT1003 | You must have a service contact on your account \t\nACCOUNT_CONTACT1004 | You cannot assign the same user as a primary and secondary contact on your account \t\nACCOUNT_CONTACT1005 | You cannot assign an Emitter Contact as primary contact on your account \t\nACCOUNT_CONTACT1006 | You cannot assign an Emitter Contact as secondary contact on your account"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Authenticated",
          "Operator Authorities"
        ],
        "summary": "Deletes logged in authority from the account",
        "operationId": "deleteCurrentUserAccountOperatorAuthorityUsingDELETE",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1001 | At least one operator admin should exist in account \t\n AUTHORITY1004 | User is not related to account"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/operator-authorities/account/{accountId}/{userId}": {
      "delete": {
        "tags": [
          "Authenticated",
          "Operator Authorities"
        ],
        "summary": "Deletes authority from the account",
        "operationId": "deleteAccountOperatorAuthorityUsingDELETE",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The user id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1001 | At least one operator admin should exist in account \t\n AUTHORITY1004 | User is not related to account"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/operator-users/invite/account/{accountId}": {
      "post": {
        "tags": [
          "Operator Users invitation"
        ],
        "summary": "Adds a new operator user to an account with a specified role.",
        "operationId": "inviteOperatorUserToAccountUsingPOST",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorUserInvitationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nFORM1001 | Form validation failed \t\n AUTHORITY1000 | Can not assign authority. Another role is already assigned to user \t\n AUTHORITY1005 | User status cannot be updated \t\n AUTHORITY1011 | Regulator user can only add operator administrator users to an account \t\n USER1000 | User registration failed \t\n USER1001 | User is already registered"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/account/{accountId}/{userId}": {
      "get": {
        "tags": [
          "Authenticated",
          "Operator Users"
        ],
        "summary": "Retrieves info of operator user by account and user id",
        "operationId": "getOperatorUserByIdUsingGET",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The operator user id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorUserDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Authenticated",
          "Operator Users"
        ],
        "summary": "Updates operator user by account and user id",
        "operationId": "updateOperatorUserByIdUsingPATCH",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The operator user id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorUserDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorUserDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/operator-users/operator": {
      "patch": {
        "tags": [
          "Authenticated",
          "Operator Users"
        ],
        "summary": "Updates logged in operator user",
        "operationId": "updateCurrentOperatorUserUsingPATCH",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorUserDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorUserDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/operator-users/registration/accept-invitation": {
      "post": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Accept invitation for operator user",
        "operationId": "acceptOperatorInvitationUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorInvitedUserInfoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nEMAIL1001 | The verification link has expired \t\n TOKEN1001 | Invalid Token \t\n USER1002 | User is deleted \t\n NOTFOUND1001 | Resource not found \t\n AUTHORITY1009 | User is not operator \t\n "
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/registration/enable-from-invitation": {
      "put": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Enables a new operator user from invitation",
        "operationId": "enableOperatorInvitedUserUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitedUserEnableDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nUSER1004 | User status is not valid \t\n EMAIL1001 | The verification link has expired \t\n TOKEN1001 | Invalid Token \t\n FORM1001 | Form validation failed"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/registration/register": {
      "post": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Register a new operator user",
        "operationId": "registerUserUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorUserRegistrationWithCredentialsDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorUserDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nFORM1001 | Form validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/registration/register-from-invitation": {
      "put": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Registers a new operator user from invitation token",
        "operationId": "registerNewUserFromInvitationWithCredentialsUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorUserRegistrationWithCredentialsDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorUserDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1005 | User status cannot be updated \t\n EMAIL1001 | The verification link has expired \t\n TOKEN1001 | Invalid Token \t\n FORM1001 | Form validation failed"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/registration/register-from-invitation-no-credentials": {
      "put": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Registers a new operator user from invitation token without credentials",
        "operationId": "registerNewUserFromInvitationUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorUserRegistrationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorUserDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1005 | User status cannot be updated \t\n EMAIL1001 | The verification link has expired \t\n TOKEN1001 | Invalid Token \t\n FORM1001 | Form validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/registration/token-verification": {
      "post": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Verifies the JWT token provided in the email",
        "operationId": "verifyUserRegistrationTokenUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nUSER1001 | User is already registered \t\n EMAIL1001 | The verification link has expired \t\n TOKEN1001 | Invalid Token \t\n FORM1001 | Form validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/operator-users/registration/verification-email": {
      "post": {
        "tags": [
          "Operator users registration"
        ],
        "summary": "Sends a verification email",
        "operationId": "sendVerificationEmailUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nFORM1001 | Form validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/permits/{id}": {
      "get": {
        "tags": [
          "Authenticated",
          "Permits"
        ],
        "summary": "Retrieves permit by id",
        "operationId": "getPermitByIdUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The permit id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PermitContainer"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/permits/{id}/attachments": {
      "get": {
        "tags": [
          "Authenticated",
          "Permits"
        ],
        "summary": "Generate the token to get the file that belongs to the provided permit id",
        "operationId": "generateGetPermitAttachmentTokenUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The permit id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "The attachment uuid",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileToken"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/data": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Retrieves reference data by type",
        "operationId": "getReferenceDataUsingGET",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "The reference data types.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "COUNTRIES"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ReferenceDataDTO"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1.0/regulator-authorities": {
      "get": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Retrieves the users of type REGULATOR",
        "operationId": "getCaRegulatorsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegulatorUsersAuthoritiesInfoDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Updates regulator users status",
        "operationId": "updateCompetentAuthorityRegulatorUsersStatusUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RegulatorUserUpdateStatusDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Delete the current regulator user",
        "operationId": "deleteCurrentRegulatorUserByCompetentAuthorityUsingDELETE",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-authorities/{userId}": {
      "delete": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Delete the regulator user that corresponds to the provided user id",
        "operationId": "deleteRegulatorUserByCompetentAuthorityUsingDELETE",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The regulator to be deleted",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-authorities/permissions": {
      "get": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Retrieves the current regulator user's permissions",
        "operationId": "getCurrentRegulatorUserPermissionsByCaUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityManagePermissionDTO"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-authorities/permissions/group-levels": {
      "get": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Retrieves the regulator permissions group levels",
        "operationId": "getRegulatorPermissionGroupLevelsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-authorities/permissions/{userId}": {
      "get": {
        "tags": [
          "Authenticated",
          "Regulator Authorities"
        ],
        "summary": "Retrieves the regulator user's permissions",
        "operationId": "getRegulatorUserPermissionsByCaAndIdUsingGET",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The regulator user id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityManagePermissionDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1003 | User is not related to competent authority"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-users/invite": {
      "post": {
        "tags": [
          "Authenticated",
          "Regulator Users"
        ],
        "summary": "Invite new regulator user",
        "operationId": "inviteRegulatorUserToCAUsingPOST",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "regulatorInvitedUser",
                  "signature"
                ],
                "type": "object",
                "properties": {
                  "regulatorInvitedUser": {
                    "description": "The regulator to invite",
                    "$ref": "#/components/schemas/RegulatorInvitedUserDTO"
                  },
                  "signature": {
                    "type": "string",
                    "description": "The signature file",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-users": {
      "post": {
        "tags": [
          "Authenticated",
          "Regulator Users"
        ],
        "summary": "Updates the current regulator user",
        "operationId": "updateCurrentRegulatorUserUsingPOST",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "regulatorUserUpdateDTO"
                ],
                "type": "object",
                "properties": {
                  "regulatorUserUpdateDTO": {
                    "description": "The regulator user to update",
                    "$ref": "#/components/schemas/RegulatorUserUpdateDTOReq"
                  },
                  "signature": {
                    "type": "string",
                    "description": "The signature file",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegulatorUserUpdateDTORes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
    "/api/v1.0/regulator-users/{userId}": {
      "get": {
        "tags": [
          "Authenticated",
          "Regulator Users"
        ],
        "summary": "Retrieves the user of type REGULATOR that corresponds to the provided user id",
        "operationId": "getRegulatorUserByCaAndIdUsingGET",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The regulator user id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegulatorUserDTORes"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1003 | User is not related to competent authority"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Authenticated",
          "Regulator Users"
        ],
        "summary": "Updates the user of type REGULATOR that corresponds to the provided user id",
        "operationId": "updateRegulatorUserByCaAndIdUsingPOST",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The regulator user id to update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "regulatorUserUpdateDTO"
                ],
                "type": "object",
                "properties": {
                  "regulatorUserUpdateDTO": {
                    "description": "The regulator user to update",
                    "$ref": "#/components/schemas/RegulatorUserUpdateDTOReq"
                  },
                  "signature": {
                    "type": "string",
                    "description": "The signature file",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegulatorUserUpdateDTORes"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request\t\n Error Code | Description \t\nAUTHORITY1003 | User is not related to competent authority \t\n INVALID_IMAGE_DIMENSIONSIMAGE1001 | Image dimensions are not valid \t\n FILE1002 | File size is less than minimum \t\n FILE1003 | File size is greater than maximum \t\n FILE1005 | File type is not accepted \t\n FORM1001 | Form validation failed"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "pmrv_oauth": []
          }
        ]
      }
    },
[...]
