<ng-container *ngIf="installation$ | async as installation">
  <app-page-heading size="xl">
    Are you sure you want to delete
    <span class="nowrap"> ‘{{ installation.installationName }}’? </span>
  </app-page-heading>

  <p class="govuk-body">Any reference to this item will be removed from your application.</p>

  <div class="govuk-button-group">
    <button (click)="delete()" appPendingButton govukWarnButton>Yes, delete</button>
    <a govukLink routerLink="../..">Cancel</a>
  </div>
</ng-container>
