<app-permit-task>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    caption="Fuels and equipment inventory"
    heading="Site diagram"
    submitText="Confirm and complete"
    [hideSubmit]="(store.isEditable$ | async) === false"
  >
    <p class="govuk-body">Upload a diagram of the installation site.</p>

    <p class="govuk-body">The diagram must show the:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>source streams</li>
      <li>emission sources</li>
      <li>emission points</li>
      <li>metering equipment</li>
    </ul>

    <p class="govuk-body">Clearly show how all of these elements are connected.</p>
    <p class="govuk-body">
      Include any other parts of the installation that are relevant to the monitoring method, such as data flow
      activities and control activities.
    </p>

    <p class="govuk-body">
      If the installation uses or supplies power, heat, fuel or materials to another installation, the diagram must show
      all the boundaries and technical connections.
    </p>

    <app-multiple-file-input
      [baseDownloadUrl]="getDownloadUrl()"
      [label]="(isFileUploaded$ | async) === true ? 'Upload a different file' : 'Upload a file (optional)'"
      formControlName="siteDiagrams"
      hint="The file must be smaller than 20MB"
      listTitle="Uploaded Site diagram"
    ></app-multiple-file-input>
  </app-wizard-step>

  <app-list-return-link reviewGroupTitle="Fuels and equipment inventory" reviewGroupUrl="fuels"></app-list-return-link>
</app-permit-task>
