<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ng-container *ngIf="(isPermitSurrenderSubmitted$ | async) !== true; else permitSurrenderSubmitted">
      <app-page-heading caption="Surrender your permit">Submit application</app-page-heading>
      <ng-container *ngIf="(allowSubmit$ | async) === true; else submitNotAllowed">
        <p class="govuk-body"><strong>Now send your application</strong></p>
        <p class="govuk-body">
          By submitting this application you are confirming that, to the best of your knowledge, the details you are
          providing are correct.
        </p>

        <div class="govuk-button-group">
          <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
        </div>
      </ng-container>

      <ng-template #submitNotAllowed>
        <p class="govuk-body">All tasks must be completed before you can submit your application.</p>
      </ng-template>

      <a govukLink routerLink="..">Return to: Permit surrender task list</a>
    </ng-container>

    <ng-template #permitSurrenderSubmitted>
      <govuk-panel title="Application complete"></govuk-panel>
      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">We’ve sent your application to {{ competentAuthority$ | async | competentAuthority }}</p>
      <p class="govuk-body">The regulator will make a decision and respond within 2 calendar months.</p>
      <a govukLink routerLink="/dashboard">Return to: Dashboard</a>
    </ng-template>
  </div>
</div>
