<ng-container
  *ngIf="(isEditable$ | async) && canEdit && (isOnEditState || (isInEditByDefaultStatus$ | async)); else viewDecision"
>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <govuk-error-summary *ngIf="isSummaryDisplayed$ | async" [form]="form"></govuk-error-summary>
    <h2 class="govuk-heading-m">What is your decision on the information submitted?</h2>

    <div formControlName="decision" govuk-radio>
      <govuk-radio-option value="ACCEPTED" label="Accepted"> </govuk-radio-option>
      <govuk-radio-option value="REJECTED" label="Rejected"> </govuk-radio-option>
      <govuk-radio-option value="OPERATOR_AMENDS_NEEDED" label="Operator amends needed">
        <div govukConditionalContent>
          <div>
            <h2 class="govuk-heading-m">List all of the changes required</h2>
          </div>
          <div
            govuk-textarea
            [maxLength]="10000"
            formControlName="changesRequired"
            label="This will be sent to the operator after all sections have been reviewed"
          ></div>

          <div>
            <h2 [class.govuk-visually-hidden]="(isFileUploaded$ | async) === true" class="govuk-heading-m">
              Upload attachment for the operator
            </h2>
          </div>
          <app-multiple-file-input
            [baseDownloadUrl]="getDownloadUrl()"
            [label]="(isFileUploaded$ | async) === true ? 'Upload a different file' : 'Upload a file (optional)'"
            [listTitle]="'Uploaded attachments for the operator'"
            formControlName="files"
            hint="The file must be smaller than 20MB"
          ></app-multiple-file-input>
        </div>
      </govuk-radio-option>
    </div>

    <div
      govuk-textarea
      [maxLength]="10000"
      formControlName="notes"
      label="Notes"
      hint="The operator cannot view this"
    ></div>
    <button appPendingButton govukButton type="submit">Confirm</button>
  </form>
</ng-container>

<ng-template #viewDecision>
  <h2
    app-summary-header
    class="govuk-heading-m"
    (changeClick)="isOnEditState = true"
    [changeRoute]="(isEditable$ | async) && canEdit ? '.' : null"
  >
    Decision Summary
  </h2>
  <dl
    govuk-summary-list
    class="govuk-summary-list--no-border summary-list--edge-border"
    *ngIf="groupKey | reviewGroup | async as reviewDecision"
  >
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Decision status</dt>
      <dd govukSummaryListRowValue>{{ reviewDecision.type | reviewGroupDecision }}</dd>
    </div>
    <div govukSummaryListRow *ngIf="reviewDecision.changesRequired">
      <dt govukSummaryListRowKey>Notes to operator (external)</dt>
      <dd govukSummaryListRowValue>{{ reviewDecision.changesRequired }}</dd>
    </div>
    <div govukSummaryListRow *ngIf="reviewDecision.files?.length > 0">
      <dt govukSummaryListRowKey>Files for operator (external)</dt>
      <dd govukSummaryListRowValue>
        <ng-container *ngFor="let file of files$ | async; let isLast = last">
          <a [routerLink]="file.downloadUrl" govukLink target="_blank">{{ file.fileName }}</a>
          <br *ngIf="!isLast && (files$ | async).length !== 1" />
        </ng-container>
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Notes</dt>
      <dd govukSummaryListRowValue>{{ reviewDecision.notes }}</dd>
    </div>
  </dl>
</ng-template>
