<app-permit-task [notification]="notification" [breadcrumb]="[{ text: 'Measurement', link: ['measurement'] }]">
  <app-page-heading caption="Measurement">{{ taskKey$ | async | i18nSelect: headingMap }}</app-page-heading>

  <ng-container [ngSwitch]="taskKey$ | async">
    <ng-container *ngSwitchCase="'monitoringApproaches.MEASUREMENT.emissionDetermination'">
      <div class="govuk-body">
        <p>
          Provide details about the procedures describing the calculation formulae used and the method of data
          aggregation.
        </p>
        <p>Get help with <a [routerLink]="" govukLink>Determination of emissions by measurement</a>.</p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'monitoringApproaches.MEASUREMENT.referencePeriodDetermination'">
      <div class="govuk-body">
        <p>Provide details about the procedures describing the methods used to:</p>
        <ul>
          <li>determine if valid hours or shorter reference periods for each parameter can be provided</li>
          <li>substitute missing data</li>
        </ul>
        <p>Get help with <a [routerLink]="" govukLink>Determination of reference period</a>.</p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'monitoringApproaches.MEASUREMENT.corroboratingCalculations'">
      <div class="govuk-body">
        <p>Provide details about the procedures for carrying out corroborating calculations.</p>
        <p>Get help with <a [routerLink]="" govukLink>Corroborating calculations</a>.</p>
      </div>
    </ng-container>
  </ng-container>

  <h2
    app-summary-header
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">{{ taskKey$ | async | i18nSelect: headingMap }}</span>
  </h2>

  <app-procedure-form-summary
    [details]="procedure$ | async"
    cssClass="summary-list--edge-border"
  ></app-procedure-form-summary>

  <app-approach-return-link parentTitle="Measurement" reviewGroupUrl="measurement"></app-approach-return-link>
</app-permit-task>
