<app-permit-task
  *ngIf="permitTask$ | async as permitTask"
  [notification]="notification"
  [breadcrumb]="true"
  reviewGroupTitle="Management procedures"
  reviewGroupUrl="management-procedures"
>
  <app-page-heading caption="Management procedures">
    {{ permitTask | managementProceduresHeading }}
  </app-page-heading>

  <p class="govuk-body">{{ permitTask | managementProceduresBody }}</p>
  <p class="govuk-body" *ngIf="permitTask === 'dataFlowActivities'">
    If there are several procedures, provide details of the overarching one that covers the main steps of data flow
    activities and attach a diagram showing how the data management procedures link together.
  </p>

  <h2
    app-summary-header
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">{{ permitTask | managementProceduresHeading }}</span>
  </h2>
  <app-management-procedures-summary-template [taskKey]="permitTask"></app-management-procedures-summary-template>
  <app-list-return-link
    reviewGroupTitle="Management procedures"
    reviewGroupUrl="management-procedures"
  ></app-list-return-link>
</app-permit-task>
