<app-permit-task
  [notification]="notification"
  [breadcrumb]="true"
  reviewGroupTitle="Permit type"
  reviewGroupUrl="permit-type"
>
  <app-page-heading caption="Permit type">Define permit type</app-page-heading>
  <p class="govuk-body">
    Based on the information you gave, this installation can apply for a Hospital and Small Emitter (HSE) permit or a
    full Greenhouse Gas Emissions (GHGE) permit.
  </p>
  <p class="govuk-body">
    Get help with understanding <a routerLink="." target="_blank" govukLink>ultra small emitters</a>
  </p>
  <p class="govuk-body">Get help with applying for an <a routerLink="." target="_blank" govukLink>HSE permit</a></p>
  <p class="govuk-body">Get help with applying for a <a routerLink="." target="_blank" govukLink>GHGE permit</a></p>
  <p class="govuk-body">
    Get help with
    <a routerLink="." target="_blank" govukLink>CO2e</a>
  </p>

  <h2
    app-summary-header
    [changeRoute]="
      (store.isEditable$ | async) === true &&
      (store | async)?.requestTaskType !== 'PERMIT_VARIATION_OPERATOR_APPLICATION_SUBMIT'
        ? '..'
        : undefined
    "
    class="govuk-heading-m"
  >
    Permit type
  </h2>
  <app-permit-type-summary-template></app-permit-type-summary-template>
  <app-list-return-link reviewGroupTitle="Permit type" reviewGroupUrl="permit-type"></app-list-return-link>
</app-permit-task>
