<dl govuk-summary-list [class]="cssClass" [hasBorders]="false">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Measurement devices</dt>
    <ng-container *ngFor="let device of measuredEmissions.measurementDevicesOrMethods; let isLast = last">
      {{ device | measurementDevicesLabel | async }}
      <br *ngIf="!isLast && measuredEmissions.measurementDevicesOrMethods.length !== 1" />
    </ng-container>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Sampling frequency</dt>
    <dd govukSummaryListRowValue>
      {{ measuredEmissions.samplingFrequency | samplingFrequency }}
    </dd>
  </div>
  <div govukSummaryListRow *ngIf="measuredEmissions.samplingFrequency === 'OTHER'">
    <dt govukSummaryListRowKey>Details</dt>
    <dd govukSummaryListRowValue>{{ measuredEmissions.otherSamplingFrequency }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Applied tier</dt>
    <dd govukSummaryListRowValue>{{ measuredEmissions.tier | appliedTier }}</dd>
  </div>
  <ng-container
    *ngIf="
      ((taskKey$ | async) === 'N2O' && measuredEmissions.tier !== 'TIER_3') ||
      ((taskKey$ | async) === 'MEASUREMENT' && !['TIER_4', 'NO_TIER'].includes(measuredEmissions.tier))
    "
  >
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Highest tier</dt>
      <dd govukSummaryListRowValue>{{ measuredEmissions.isHighestRequiredTier ? 'Yes' : 'No' }}</dd>
    </div>
  </ng-container>
  <ng-container *ngIf="measuredEmissions.noTierJustification">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>How will emissions from transferred CO2 be estimated?</dt>
      <dd govukSummaryListRowValue>{{ measuredEmissions.noTierJustification }}</dd>
    </div>
  </ng-container>
</dl>
<ng-container *ngIf="measuredEmissions?.isHighestRequiredTier === false">
  <dl govuk-summary-list [hasBorders]="false">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Reasons for not applying the highest required tier</dt>
      <dd govukSummaryListRowValue>
        <ng-container *ngIf="measuredEmissions?.noHighestRequiredTierJustification?.isCostUnreasonable">
          Unreasonable cost <br />
        </ng-container>
        <ng-container *ngIf="measuredEmissions?.noHighestRequiredTierJustification?.isTechnicallyInfeasible">
          Technical infeasibility
        </ng-container>
      </dd>
    </div>
    <div
      govukSummaryListRow
      *ngIf="measuredEmissions?.noHighestRequiredTierJustification?.technicalInfeasibilityExplanation"
    >
      <dt govukSummaryListRowKey>Explanation of technical infeasibility</dt>
      <dd class="pre-wrap" govukSummaryListRowValue>
        {{ measuredEmissions.noHighestRequiredTierJustification.technicalInfeasibilityExplanation }}
      </dd>
    </div>
    <div govukSummaryListRow *ngIf="(files$ | async)?.length">
      <dt govukSummaryListRowKey>Supporting files</dt>
      <dd govukSummaryListRowValue>
        <app-summary-download-files [files]="store.getDownloadUrlFiles(files$ | async)"> </app-summary-download-files>
      </dd>
    </div>
  </dl>
</ng-container>
