<app-aer-task [notification]="notification" [breadcrumb]="true">
  <app-page-heading caption="Additional information">Abbreviations and definitions</app-page-heading>
  <h2
    app-summary-header
    [changeRoute]="(aerService.isEditable$ | async) === true ? '..' : undefined"
    class="govuk-heading-m"
  >
    <span [class.govuk-visually-hidden]="(hasAbbreviations$ | async) === false">Items that need definition</span>
  </h2>

  <app-abbreviations-summary-template [abbreviations]="abbreviations$ | async"></app-abbreviations-summary-template>

  <app-return-link></app-return-link>
</app-aer-task>
